# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CmdLine@2
  inputs:
    script: |
      git clone --mirror "https://anything:$(token)@dev.azure.com/aleksej-strassheim/OpenDiabetes-plot/_git/OpenDiabetes-site"    
      cd OpenDiabetes-site.git	
      git remote add --mirror=fetch secondary "https://anything:$(githubtoken)@github.com/Creative332/OpenDiabetes-Plot.git"
      git fetch origin
      git push secondary --all