@import "~bootstrap/scss/bootstrap";

// d3-tip border and font attribute
.d3-tip {
  line-height: 1;
  //font-weight: bold;
  padding: 7px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border-radius: 7px;
  font-size:85%;
  width: 120px;
  
  //margin:0% 0% 0% 10%;
}

// d3-tip arrow attibute
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

// d3-tip direction attribute (top)
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left:0%;
  
}

div.stat-container{
    width:100%;
    height:100px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    .description{
        position: absolute;
        float:left;
        top:10px;
        left:40px;
    }
    .stat-fill{
        display:block;
        height:100%;
    }
}
.average-bg{
	font-size: 20px;
	.average-value{
		font-style:bold;
		font-size: 30px;
	}
}

div.stat-container.hyper{
    background-color: #b3a0da;
    .stat-fill.hyper{
        background-color: #8058bd;
    }
}

div.stat-container.high{
    background-color: #bbb1f4;
    .stat-fill.high{
        background-color: #8e7de5;
    }
}
div.stat-container.normal{
    background-color: #96adeb;
    .stat-fill.normal{
        background-color: #4272d7;
    }
}
div.stat-container.low{
    background-color: #f9b98f;
    .stat-fill.low{
        background-color: #e98c38;
    }
}
div.stat-container.hypo{
    background-color: #f89291;
    .stat-fill.hypo{
        background-color: #eb4847;
    }
}

body {
    h1 {
        color: green;
    }

    main {
	
        //x-Achse
        .xline {
            color: white;
        }

        //dashline
        .dashLineH_N {
            stroke-dasharray: 4, 7;
            stroke: #F4F6F7;
            stroke-width: 2;
        }

        .dashLineN_L {
            stroke-dasharray: 4, 7;
            stroke: #F4F6F7;
            stroke-width: 2;
        }

        //Legende
        .legendeBackground {
            opacity: 0.3;
            fill: #F8F9F9;
        }

        .legendeCircleH {
            fill: #3498DB;
        }

        .legendeCircleN {
            fill: #58D68D;
        }

        .legendeCircleL {
            fill: #DC7633;
        }

        .legendeCircText {
            word-spacing: 80px;
            font: sans-serif;
            fill: lightgray;
        }

        .legendeText1 {
            font: sans-serif;
            fill: black;
        }

        .legendeText2 {
            font: sans-serif;
            fill: gray;
        }

        //top bar
        .topbar {
            fill: #2E86C1;
            opacity: 0.6;
        }

        .yAbdeckung {
            stroke: white;
            stroke-width: 2;
        }

        .tooltipbg {
            fill: lightgray; //#EB984E;
            stroke: gray; //#EB984E;
            stroke-width: 3;
        }

        .tooltipTextT {
            fill: black;

        }

        .tooltipTextV {
            fill: black;
        }

        .tooltipTextS {
            fill: black;
        }

        .focusLine {
            fill: none;
            stroke: steelblue;
            stroke-width: 0.5px;
        }
        .focusCircleInne{
        fill: lightgray;
        }
        
        .overlay{
        fill: none;
        stroke: none;
        pointer-events: all;
        }


    }

}
