@import "~bootstrap/scss/bootstrap";

.fileDrop {
    text-align:center;
    vertical-align: center;
    border: 2px dotted black;
    outline:none;
    p {
        margin:5px 5px;
    }
}

g#timeAxis {
    .upperTimeAxis{
        .tick{
            text{
                font-weight:700;
                color: #919191;
            }
        }
    }
    .lowerTimeAxis{
        .tick{
            text{
                font-weight:700;
                color: #a3a3a3;
            }
        }
    }

}
.background{
    rect{
        fill: #d7d7d7;
    }
}
@media screen and (min-width: 601px) {
    g#timeAxis {
        .upperTimeAxis{
            .tick{
                text{
                    font-size: 2em;
                }
            }
        }
        .lowerTimeAxis{
            .tick{
                text{
                    font-size: 1.6em;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    g#timeAxis {
        .upperTimeAxis{
            .tick{
                text{
                    font-size: 1.6em;
                }
            }
        }
        .lowerTimeAxis{
            .tick{
                text{
                    font-size: 1.2em;
                }
            }
        }
    }
}
div.stat-container{
    width:100%;
    height:100px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    .description{
        position: absolute;
        float:left;
        top:10px;
        left:40px;
    }
    .stat-fill{
        display:block;
        height:100%;
    }
}
.average-bg{
	font-size: 20px;
	.average-value{
		font-style:bold;
		font-size: 30px;
	}
}

div.stat-container.hyper{
    background-color: #b3a0da;
    .stat-fill.hyper{
        background-color: #8058bd;
    }
}

div.stat-container.high{
    background-color: #bbb1f4;
    .stat-fill.high{
        background-color: #8e7de5;
    }
}
div.stat-container.normal{
    background-color: #96adeb;
    .stat-fill.normal{
        background-color: #4272d7;
    }
}
div.stat-container.low{
    background-color: #f9b98f;
    .stat-fill.low{
        background-color: #e98c38;
    }
}
div.stat-container.hypo{
    background-color: #f89291;
    .stat-fill.hypo{
        background-color: #eb4847;
    }
}
.glucose-percentile:hover{
    stroke: #a3a3a3;
    stroke-width: 5px;
    stroke-opacity: 1;

    rect.median{
        stroke: none;
    }
}
.glucose-percentile{
    rect.high{
        fill: #ffbf6c;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
    rect.normal{
        fill: #89db49;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
    rect.low{
        fill: #ff756c;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
    rect.nhigh{
        fill: #ffbf6c;
        opacity: 0.4;
    }
    rect.nnormal{
        fill: #89db49;
        opacity: 0.4;
    }
    rect.nlow{
        fill: #ff756c;
        opacity: 0.4;
    }
}
.point-glucose{
    .high{
        fill: #ffbf6c;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
    .normal{
        fill: #89db49;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
    .low{
        fill: #ff756c;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
    }
}
.bar-bolus{
        fill: green;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
}

.bar-carbs{
        fill: #ffbf6c;
        stroke:#1d1d1d;
        stroke-opacity: 0.5;
}
.bar-basal {
    fill:lightblue;
    stroke:#1d1d1d;
    stroke-opacity: 0.5;
}

.tooltip{
    padding:10px;
    background: #f1f1f1;
    border: 3px solid #f1f1f1;
}
body {
    h1 {
        color: green;
    }

    main {

        //x-Achse
        .xline {
            color: white;
        }

        //dashline
        .dashLineH_N {
            stroke-dasharray: 4, 7;
            stroke: #F4F6F7;
            stroke-width: 2;
        }

        .dashLineN_L {
            stroke-dasharray: 4, 7;
            stroke: #F4F6F7;
            stroke-width: 2;
        }

        //Legende
        .legendeBackground {
            opacity: 0.3;
            fill: #F8F9F9;
        }

        .legendeCircleH {
            fill: #3498DB;
        }

        .legendeCircleN {
            fill: #58D68D;
        }

        .legendeCircleL {
            fill: #DC7633;
        }

        .legendeCircText {
            word-spacing: 80px;
            font: sans-serif;
            fill: lightgray;
        }

        .legendeText1 {
            font: sans-serif;
            fill: black;
        }

        .legendeText2 {
            font: sans-serif;
            fill: gray;
        }

        //top bar
        .topbar {
            fill: #2E86C1;
            opacity: 0.6;
        }

        .yAbdeckung {
            stroke: white;
            stroke-width: 2;
        }

        .tooltipbg {
            fill: lightgray; //#EB984E;
            stroke: gray; //#EB984E;
            stroke-width: 3;
        }

        .tooltipTextT {
            fill: black;

        }

        .tooltipTextV {
            fill: black;
        }

        .tooltipTextS {
            fill: black;
        }

        .focusLine {
            fill: none;
            stroke: steelblue;
            stroke-width: 0.5px;
        }
        .focusCircleInne{
        fill: lightgray;
        }
        
        .overlay{
        fill: none;
        stroke: none;
        pointer-events: all;
        }


    }

}
